.gallery {
  max-width: 1280px;
  margin: 100px auto;
  padding: 0 4%;
}

.gallery__title {
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: "Koulen", cursive;
  font-size: 100px;
  letter-spacing: 5px;
  border-bottom: #0883ff 5px double;
  color: #0883ff;
}

.gallery__roos {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 0;
  flex-wrap: wrap;
}

.gallery__roos-image {
  max-width: 130px;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #0882ff;
  cursor: pointer;
  transition: 0.3s;
  animation: pulse 2s linear infinite forwards;
}

.gallery__roos-image:hover {
  transform: scale(1.1);
  border: 5px double #0882ff;
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #0882ff;
  }
  50% {
    box-shadow: 0 0 50px #0882ff;
  }
  100% {
    box-shadow: 0 0 0 #0882ff;
  }
}

.gallery__roos-name {
  margin: 0;
  text-align: center;
  font-family: "Ubunto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #0882ff;
}
@media screen and (max-width: 375px) {
  .gallery__title {
    font-size: 75px;
  }
}
