.image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: 0.3s linear;
}

.popup_fadein {
  visibility: visible;
  opacity: 1;
}

.image__container {
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  padding: 0;
}

.image__close-button {
  max-width: 100%;
  margin-left: 100%;
  margin-bottom: 3px;
  background: url(../images/Close\ Icon.svg) no-repeat center/cover;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.image__close-button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
}

.image__popup {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .image__close-button {
    width: 30px;
    height: 30px;
  }
}
